body{
    background-color: #084574;
    overflow:hidden ;
}
#parallax{
    max-height: 100vh; 
    max-width:  100vw;

}


.bublinky{
    position: absolute; 
   text-align: center;
    height: 100vh; 
    width:  100vw;
    

}
.duch{
    position: absolute;

    width: 15rem;
    height: 15rem;
    

}
.bublinky2{
    position: absolute;
   
    height: 100vh; 
    width:  100vw;
    
    
}


